<h1>Accessible Modal Component</h1>

<p>Welcome to the accessible modal testing page</p>

<button class="button button-primary" type="button" (click)="show()">
  Show Modal
</button>

<ng-template #modal>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="firstName">First Name</label>
      <input formControlName="firstName" id="firstName" />
    </div>

    <div class="form-field">
      <label for="surName">SurName</label>
      <input formControlName="surName" id="surName" />
    </div>

    <div class="form-field">
      <label for="age">Age</label>
      <input formControlName="age" id="age" />
    </div>

    <label for="info">Subscribe to newsletter</label>
    <input
      formControlName="info"
      id="info"
      type="checkbox"
      (change)="info = !info"
    />
    <p *ngIf="info">This is a placeholder for more information</p>

    <div class="button-group">
      <button class="button button-primary" type="submit">Submit</button>
      <button
        class="button button-secondary"
        type="button"
        (click)="modalRef.close()"
      >
        Cancel
      </button>
    </div>
  </form>
</ng-template>
